HATOKEN=vhiurfepwfirepofrew
HAURL=homeassistant
SSL=0


GRAPH_WIDTH=50
GRAPH_HEIGHT=15


DASHBOARD_YAML_1=yaml/dashboard1.yaml
DASHBOARD_YAML_2=yaml/dashboard2.yaml
DASHBOARD_YAML_3=yaml/dashboard3.yaml
DASHBOARD_YAML_4=yaml/dashboard4.yaml


