[Unit]
Description=Run Assist Python Script on TTY12
After=network.target

[Service]
User=daft
ExecStart=/usr/bin/python3 /home/daft/projects/cmdline-assist/assist.py
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty12
Restart=always

[Install]
WantedBy=multi-user.target
